<div class="post">
	<h2 class="title">
		Como funciona?
	</h2>
	<div class="entry">
		<div id="passo_1" class="passo">
			<h1>Passo 1</h1>
			<p>Os operadores da defesa civil cadastram as áreas de risco usando usando o SMSalva-vidas com um mapa</p>
			<div id="img_como_funciona_1" class="img_como_funciona">
				<%= image_tag "mapeando_area.png" %>
			</div>
		</div>
		<br style="clear: both"/>
		
		<div id="passo_2" class="passo">
			<h1>Passo 2</h1>
			<p>Os moradores de áreas de risco são cadastrados utilizando um mapa para localização.</p>
			<div id="img_como_funciona_2" class="img_como_funciona">
				<%= image_tag "cadastrando_morador.png" %>
			</div>
		</div>
		<br style="clear: both"/>
		
		<div id="passo_3" class="passo">
			<h1>Passo 3</h1>
			<p>Os operadores da defesa civil, ao perceberem uma possível catástofre(como chuvas, por exemplo), manda o SMSalva-vidas enviar SMS para as pessoas localizadas naquela região.</p>
			<div id="img_como_funciona_3" class="img_como_funciona">
				<%= image_tag "avisando_sms.png" %>
			</div>
		</div>
		<br style="clear: both"/>
	</div>
</div>