<div class="post">
	<h2 class="title">
		Cronograma de desenvolvimento
	</h2>
	
	<div class="entry">
		<%= image_tag 'logo_STI.png', :width => '300', :style=>"float: right" %>
		<br/>
		O desenvolvimento do projeto conta com uma comunidade aberta e atualmente é mantido por um grupo de profissionais da <a href="http://www.sti.uff.br">Superintendência de Tecnologia da Informação - STI</a> da <a href="http://www.uff.br">Universidade Federal Fluminense</a>.
	</div>
	
	<div class="entry">
		<h3>Versão 0.1 - Prevista para Novembro/2011</h3>
		<ul>
			<li>Definição da estrutura básica do projeto (site, documentação, listas, repositórios, etc)</li>
			<li>Definição e implementação do layout básico da aplicação</li>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de cidades</span></li>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de usuários</span></li>
		</ul>
	</div>
	
	<div class="entry">
		<h3>Versão 0.2 - Prevista para Dezembro/2011</h3>
		<ul>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de habitantes</span> com cadastro via interface web</li>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de profissionais de apoio</span></li>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de equipes de apoio</span></li>
		</ul>
	</div>
	
	<div class="entry">
		<h3>Versão 1.0 - Prevista para Janeiro/2012</h3>
		<ul>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de áreas de risco</span></li>
			<li>Desenvolvimento do <span class="destaque3">Gerenciamento de notificações</span></li>
		</ul>
	</div>
	
	<div class="entry">
		<h3>Versão 1.1 - Prevista para Março/2012</h3>
		<ul>
			<li>Desenvolvimento do <span class="destaque3">Visualização pública de áreas de risco</span></li>
			<li>Desenvolvimento do <span class="destaque3">Verificação de notificações para área</span></li>
			<li>Desenvolvimento do <span class="destaque3">Visualização de posicionamento GPS em áreas de risco</span> (Android)</li>
			<li>Desenvolvimento do <span class="destaque3">Cadastro de habitantes usando um celular</span> (Android)</li>
		</ul>
	</div>
	

</div>