<div class="post">
	<h2 class="title">
		Download
	</h2>
	<div class="entry">
	    Esse é um projeto com código livre, portanto, seu código está disponível no <a href="https://github.com/thiagodiogo/smsalva-vidas">GitHub</a>
	</div>
	<div class="entry">
	    Para fazer a instalação, consulte a <%= link_to 'documentação', documentacao_path %>.
	</div>
</div>