<div class="post">
	<h2 class="title">
		O que é?
	</h2>
	<div class="entry">
		<p>É uma aplicação web, disponível como Código Livre (open source) sob a licença General Public License (<a href="http://pt.wikipedia.org/wiki/GNU_General_Public_License">GPL</a>) e que pode ser usada para difundir informações durante períodos pré-crise.</p>
	</div>
</div>

<div class="post">
	<h2 class="title">
		Qual o objetivo?
	</h2>
	<div class="entry">
		<p>Desenvolver uma solução capaz de ajudar as Prefeituras e Cidades brasileiras a lidarem com desastres naturais através do envio de SMS para habitantes de áreas de risco.</p>
	</div>
</div>

<div class="post">
	<h2 class="title">
		Quando?
	</h2>
	<div class="entry">
		<p>Tem sido concebida desde Julho de 2010, com a construção de um piloto em Novembro de 2010 e agora iniciou-se o seu desenvolvimento de forma aberta.</p>
	</div>
</div>

<div class="post">
	<h2 class="title">
		Por que?
	</h2>
	<div class="entry">
		<p>A Tecnologia da Informação (TI) pode (e deve) ajudar a salvar vidas através da utilização de serviços como Short Message Service (SMS) e Cloud Computing, de conceitos como Georreferenciamento e de ferramentas como Ruby on Rails e MySQL. A união desses ingredientes podem resultar em soluções de baixo custo e realmente úteis para a sociedade.</p>
	</div>
</div>

<div class="post">
	<h2 class="title">
		Quem?
	</h2>
	<div class="entry">
		<p>Atualmente a solução é mantida pelo apaixonado por TI, <a href="http://thiagodiogo.blogspot.com">Thiago Diogo</a></p>
	</div>
</div>

<div class="post">
	<h2 class="title">
		Participe!
	</h2>
	<div class="entry">
		<p>Discuta conosco na <a href="http://groups.google.com/group/smsalva-vidas-dev/">lista de discussão de desenvolvimento e </a><b>utilize o botão "Sugestões e idéias" à direita</b></p>
	</div>
</div>