<div class="post">
	<h2 class="title">
		O projeto
	</h2>
	<div class="entry">
		<%= image_tag 'logo_uff.gif', :width => '220', :style=>"float: right" %>
		<p>
			Chuvas tropicais, mudanças climáticas, desastres ecológicos, situações de emergência. As recentes tragédias ocorridas na Região Serrana, com elevado número de mortos, têm se tornado comuns em outras regiões pelo Brasil. 
		</p>
		<p>
			Apesar das experiências de outros desastres naturais, ainda é comum culpabilizar a natureza pelo número elevado de mortos. Existe no Brasil a mentalidade e o conceito de que Defesa Civil e atenção aos desastres são, basicamente, atuar durante ou depois de o desastre acontecer. 
		</p>
		<p>
			Considerando-se o valor da vida humana e os gastos de atendimento médico-hospitalar e de saúde pública, pouco se vê em relação à ações de prevenção a vida da população, principalmente as de áreas de risco.
		</p>
	</div>
	<div class="entry">
		<p>
			E foi a partir de pesquisas com serviços de mensagens curtas (SMS) para a área de saúde, desenvolvidas por alunos de pós-graduação da UFF e com auxílio de uma empresa incubada, que pesquisadores do Núcleo de Tecnologia da UFF, motivados pelos acontecimentos no morro do Bumba, em Niterói, e na Região Serrana do Rio de Janeiro, criaram o SMSalva-vidas.
		</p>
		<p>
			Este software, que está sendo oferecido gratuitamente ao poder público, tem como objetivo atuar como uma ferramenta integradora de informações e comunicação para os gestores públicos municipais, buscando o melhor gerenciamento de recursos e ações relacionados aos desastres naturais, como execução de planos de trabalho para situações de emergência.
		</p>
	</div>
</div>